<footer class="">
    <div class="footer-brand">
        <img src="{{ "assets/img/logo-comapper-dark.png" | relative_url }}" alt="" class="img-fluid">
        <p class="small light-60">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis sequi officiis ducimus magni deleniti iste alias commodi, facere voluptates expedita impedit ratione, similique eaque doloribus.</p>
    </div>
    <div class="footer-menu">
        <h5>Follow us</h5>
        <ul>
            <li><a href="" target="_blank">Facebook</a></li>
            <li><a href="" target="_blank">Instagram</a></li>
            <li><a href="" target="_blank">X</a></li>
        </ul>
        <h5>Wesite map</h5>
        <ul>
            <li><a href="{{ "/cartografia-colaborativa/" | relative_url}}">Que hacemos?</a></li>
            <li><a href="#">Contribuir</a></li>
            <li><a href="#">Historias de exito</a></li>
            <li><a href="#">Tareas</a></li>
            <li><a href="#">Comunidad</a></li>
            <li><a href="#">Recursos</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <h5>Contacto</h5>
        <p>Direccion: <span class="light-60">Anselmo Camacho #20, Lerma, Estado de Mexico, Mexico.</span></p>
        <p>Email: <a href="#">hola@commapper.org</a></p>
        <h5>Contactar</h5>
        <form action="">
            <label for="name">Nombre:</label><br>
            <input type="text" id="name" name="name" placeholder="Tu nombre completo"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="mail" name="mail" placeholder="Tu e-mail"><br>
            <label for="asunto">Asunto:</label><br>
            <textarea id="asunto" name="asunto" placeholder="Escribe tu comentario.."></textarea><br>
            <input type="submit" value="Submit">
        </form> 
    </div>
</footer>