<nav class="mainMenu is-top mt--1">
  <div id="mobile-menu-btn">Menu</div>
  <div class="brand-menu">
    <a href="/"><img src="{{ "assets/img/logo-commaper-horizontal.png" | relative_url }}" alt=""></a>
  </div>
  <ul id="menu">
    <li><a href="/">
        <img src="{{ "/assets/img/logo-comapper-dark.png" | relative_url }}" alt="" id="logo-mobile">
      </a></li>
    <li><a href="{{ "/cartografia-colaborativa/" | relative_url}}">¿Que hacemos?</a></li>
    <li><a href="{{ "/contribuir/" | relative_url }}">Contribuir</a></li>
    <li><a href="{{ "/historias-de-exito/" | relative_url }}">Historias de exito</a></li>
    <li><a href="{{ "/tareas/categoria/todas/" | relative_url }}">Tareas</a></li>
    <li><a href="{{ "/comunidad/" | relative_url }}">Comunidad</a></li>
    <li><a href="{{ "/recursos/" | relative_url }}">Recursos</a></li>
    <li><a href="{{ "/blog/" | relative_url }}">Blog</a></li>
  </ul>
</nav>