<nav class="mainMenu is-top" style="margin-top:0px;">
    <div id="mobile-menu-btn" >Menu</div>
    <div class="brand-menu is-visible">
        <a href="{{ "/" }}"><img src="{{ "assets/img/logo-commaper-horizontal.png" }}" alt=""></a>
    </div>
    <ul id="menu">
        <li><a href="{{ "/" }}"><img src="{{ "assets/img/logo-comapper-dark.png" }}" alt="" id="logo-mobile"></a></li>
        <li><a href="#">¿Que hacemos?</a></li>
        <li><a href="#">Contribuir</a></li>
        <li><a href="#">Historias de exito</a></li>
        <li><a href="#">Tareas</a></li>
        <li><a href="#">Comunidad</a></li>
        <li><a href="#">Recursos</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>
</nav>