<aside class="single-aside">
  <img src="{{ "/assets/img/logo-commaper-horizontal.png" | relative-url }}" alt="" class="img-fluid single-logo">
  <button class="accordion">¿Qué hacemos?</button>
  <div class="panel">
    <p><a href="#">Cartografía colaborativa</a></p>
    <p><a href="#">Gtools</a></p>
    <p><a href="#">Capacitaciones y acompañamiento</a></p>
  </div>

  <button class="accordion">Contribuir</button>
  <div class="panel">
    <p><a href="#">¿Cómo contribuir?</a></p>
  </div>

  <button class="accordion">Historias de exito</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Tareas</button>
  <div class="panel">
    <p><a href="#">Cartografia</a></p>
    <p><a href="#">Datos abiertos</a></p>
  </div>

  <button class="accordion">Comunidad</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Nosotros</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Contacto</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
</aside>