<!DOCTYPE html>
<html lang="{{ site.lang | default: " es-MX" }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} {{ site.title }}</title>
  <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">
  <script src="{{ " /assets/js/nav.js" | relative_url }}" defer></script>
</head>

<body>
  {% include nav.html%}
  <header class="header-single">
    <h3>{{ page.title }}</h3>
    <p> Tareas disponibles relacionadas con: <em>{{ page.pagination.category }}</em> </p>
  </header>

  <div class="container-center single-wrapper">
    <main class="single-main">
      {{ content }}
      <section>
        <div class="tareas-wrapper-single">
          {% if page.pagination.category == "todas"%}
            {% assign filtered_collection = site[page.pagination.collection] %}
          {% else %}
            {% assign filtered_collection = site[page.pagination.collection] | where: "category", page.pagination.category %}
          {% endif %}
          {% for task in filtered_collection %}
          <div class="tareas-card-single">
            <img src="{{ task.image }}" alt="" class="img-fluid">
            <P class="category"><strong>{{ task.category }}</strong></P>
            <P class="category">Disponible: {{ task.open_date }}</P>
            <h5>{{ task.title }}</h5>
            <p class="tareas-card-text">{{ task.description }}</p>
            <p class="footer-card-single">
              <a href="{{ task.url }}" class="">Leer más</a>
              <a href="#" class="">Unirme</a>
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>
    <aside class="single-aside">
      <p class="dark-60">Filtra mediante la categoria de tu interes</p>
      <nav class="categories">
        {% assign all_categories = "" | split: "," %}
        {% for task in site.tasks %}
        {% unless all_categories contains task.category %}
        {% assign all_categories = all_categories | push: task.category %}
        {% endunless %}
        {% endfor %}
        <ul>
          {% for category in all_categories %}
          <li><a href="{{ site.baseurl }}/tareas/categoria/{{ category | slugify }}/">{{ category }}</a></li>
          {% endfor %}
          <li><a href="{{ "/tareas/categoria/todas/" | relative_url }}">Ver todas</a></li>
        </ul>
      </nav>
    </aside>
  </div>
  {% include footer.html %}
</body>

</html>