---
layout: default
---

<section class="container">
  <div class="tareas-wrapper">
    <div class="tareas-card">
      <div class="card-left">
        {% if page.image %}
        <img src="{{ page.image }}" alt="" class="img-fluid">
        {% endif %}
      </div>
      <div class="card-right">
        <h5>{{ page.title }}</h5>
        <small class="person-type">
          {% if page['Member Type'] %}<span class="person-member-type">{% if page['Member Type']['Is Staff'] %}<a
              href="/staff">Staff</a>{% endif %}{% if page['Member Type']['Is Voting Member'] %}<a
              href="/voting-members">Voting Member</a>{% endif %}{% if page['Member Type']['Is Board Member'] %}<a
              href="/board">Board</a>{% endif %}</span>{% endif %}{% if page['Job Title'] %}<span
            class="person-title">{{ page['Job Title'] }}</span>{% endif %}
        </small>
        <p class="smaller dark-60 task-summary">
          {% if page-content != "" %}
            {{ content }}
          {% else %}
            <p>{{ page.title }} is a HOT {% if page['Member Type']['Is Staff'] %}staff member{% elsif page['Member
              Type']['Is Board'] %}board member{% else %}voting member{% endif %}.</p>
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</section>
