---
layout: default
---

<header class="header-single">
  {% if page.filter %}
    <h3>{{ page.title }}</h3>
    <p> Tareas disponibles relacionadas con: <em>{{ page.category }}</em> </p>
  {% else %}
    <h3>Tarea: {{ page.title }}</h3>
    <p><em>{{ page.description }}</em> </p>
  {% endif %}
</header>

<div class="container-center single-wrapper">
  <main class="single-main">
    {% if page.filter %}
      <section>
        <div class="tareas-wrapper-single">
          {% if page.category == "all"%}
            {% assign filtered_collection = site[page.collection] %}
          {% else %}
            {% assign filtered_collection = site[page.collection] | where: "category", page.category %}
          {% endif %}
          {% for task in filtered_collection %}
          <div class="tareas-card-single">
            <img src="{{ task.image }}" alt="" class="img-fluid">
            <P class="category"><strong>{{ task.category }}</strong></P>
            <P class="category">Disponible: {{ task.open_date }}</P>
            <h5>{{ task.title }}</h5>
            <p class="tareas-card-text">{{ task.description }}</p>
            <p class="footer-card-single">
              <a href="{{ task.url }}" class="">Leer más</a>
              <a href="#" class="">Unirme</a>
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
    {% else %}
      {{ content }}
    {% endif %}
  </main>

  <aside class="single-aside">
    <p class="dark-60">Filtra mediante la categoria de tu interes</p>
    <nav class="categories">
      {% assign all_categories = "" | split: "," %}
      {% for task in site.tasks %}
        {% unless all_categories contains task.category %}
        {% assign all_categories = all_categories | push: task.category %}
        {% endunless %}
      {% endfor %}
      <ul>
        {% for category in all_categories %}
        <li><a href="{{ site.baseurl }}/tareas/categoria/{{ category | slugify }}/">{{ category }}</a></li>
        {% endfor %}
        <li><a href="{{ "/tareas/categoria/todas/" | relative_url }}">Ver todas</a></li>
      </ul>
    </nav>
  </aside>
</div>

